<mat-card class="example-card">
  <mat-card-title>{{ cani[0].nome.toUpperCase() }}</mat-card-title>
  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  <mat-card-content>
    <p>This card indeterminates progress bar.</p>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz
      breeds of dog from Japan. A small, agile dog that copes very well with
      mountainous terrain, the Shiba Inu was originally bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

<button mat-raised-button color="primary" [disabled]="isDisabled">
  Primary
</button>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="immagine" alt="Photo of a Shiba Inu" />
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz
      breeds of dog from Japan. A small, agile dog that copes very well with
      mountainous terrain, the Shiba Inu was originally bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

<div [ngStyle]="{ margin: '50px 0' }">
  <div *ngFor="let persona of data">
    <p [ngStyle]="{ color: persona.color }">
      {{ persona.nome }} {{ persona.cognome }}
    </p>
  </div>
</div>

<button (click)="mandaDati()">Manda dati al parente</button>

<p>Prova Lezione Service: {{ personaService }}</p>
