<app-prova></app-prova>

<button mat-raised-button color="accent" (click)="onClick(this)">Primary</button>

<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Favorite food</mat-label>
  <!-- $event è una variabile particolare, è proprietaria di Angular, si usa negli eventi,
  vengono registrati qui i dati dell'evento -->
  <!-- Per usare insieme il property binding e l'event binding dobbiamo sostituire questo (input)="onInput($event)"
  con [(ngModel)]="inputValue" colleghiamo quindi l'input direttamente alla proprietà -->
  <input matInput placeholder="Ex. Pizza" [(ngModel)]="inputValue" value="">
</mat-form-field>

<p>{{ inputValue }}</p>

<p *ngIf="isVisible">Ciao sono un paragrafo, esempio ngIf visibile</p>
<p *ngIf="!isVisible">Ciao sono un paragrafo, esempio ngIf non visibile</p>



<!-- bloccoElse è una variabile template, un riferimento template
(template reference) -->
<ng-template *ngIf="isVisible; then bloccoIf else bloccoElse"></ng-template>

<!-- ng-template è un elemento che vede solo Angular, non ha alcun tipo
di impatto vero e proprio, è una sorta di contenitore che
vede solo Angular, necessario per usare la variabile template -->
<ng-template #bloccoIf>
  <p>Sono visibile</p>
</ng-template>
<ng-template #bloccoElse>
  <p>Non sono visibile</p>
</ng-template>
