<!-- Per passare la variabile persone in app.component.ts
a prova.component dobbiamo usare il property binding -->
<!-- Per permettere ad app.component di prendere dati dal
componente child dobbiamo usare l'event binding,
useremo però un evento custom, il quale mette in ascolto il
componente app.component per l'evento "mandaDatiFuori" -->
<app-prova
  [data]="persone"
  (mandaDatiEvento)="onRiceviDati($event)"
></app-prova>

<button (click)="onClickChangePersone()">Cambio Persone</button>

<button mat-raised-button color="accent" (click)="onClick(this)">
  Primary
</button>

<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Favorite food</mat-label>
  <!-- $event è una variabile particolare, è proprietaria di Angular, si usa negli eventi,
  vengono registrati qui i dati dell'evento -->
  <!-- Per usare insieme il property binding e l'event binding dobbiamo sostituire questo (input)="onInput($event)"
  con [(ngModel)]="inputValue" colleghiamo quindi l'input direttamente alla proprietà -->
  <input matInput placeholder="Ex. Pizza" [(ngModel)]="inputValue" value="" />
</mat-form-field>

<p>{{ inputValue }}</p>

<p *ngIf="isVisible">Ciao sono un paragrafo, esempio ngIf visibile</p>
<p *ngIf="!isVisible">Ciao sono un paragrafo, esempio ngIf non visibile</p>

<!-- bloccoElse è una variabile template, un riferimento template
(template reference) -->
<ng-template *ngIf="isVisible; then bloccoIf; else bloccoElse"></ng-template>

<!-- ng-template è un elemento che vede solo Angular, non ha alcun tipo
di impatto vero e proprio, è una sorta di contenitore che
vede solo Angular, necessario per usare la variabile template -->
<ng-template #bloccoIf>
  <p>Sono visibile</p>
</ng-template>
<ng-template #bloccoElse>
  <p>Non sono visibile</p>
</ng-template>

<ul>
  <!-- Con ngFor creiamo un solo elemento come
  stampino, in cui per ogni volta che trova un
  dato ricrea lo stesso elemento ma cambiando
  i dati all'intenro -->
  <li *ngFor="let persona of persone">
    {{ persona.nome }} {{ persona.cognome }}
  </li>
</ul>

<p *ngFor="let persona of persone">
  <strong>{{ persona.nome }}</strong> {{ persona.cognome }}
</p>

<p
  *ngFor="
    let persona of persone;
    index as i;
    count as c;
    first as isFirst;
    last as isLast;
    even as isEven;
    odd as isOdd
  "
>
  {{ persona.nome }} {{ persona.cognome }} - index: {{ i }} - count: {{ c }} -
  first: {{ isFirst }} - last: {{ isLast }} - even(pari): {{ isEven }} -
  odd(dispari): {{ isOdd }} - status:
  <span class="cerchioVerde" *ngIf="persona.isOnline"></span
  ><span class="cerchioRosso" *ngIf="!persona.isOnline"></span>
  <span class="cerchioArancione" *ngIf="i > 2"></span>
</p>

<!-- Non è una direttiva strutturale, perché non è ngSwitch
a modificare direttamente il DOM ma solleva solo casistiche,
facciamo riferimento alla variabile numero -->
<div [ngSwitch]="numero">
  <!-- Inseriamo un paragrafo per ogni condizione da
  notare che è *ngSwitchCase la direttiva struttura
  che fa riferimento alla direttiva [ngSwitch] -->
  <p *ngSwitchCase="1">Uno</p>
  <p *ngSwitchCase="2">Due</p>
  <p *ngSwitchCase="3">Tre</p>
  <p *ngSwitchCase="4">Quattro</p>
  <p *ngSwitchDefault>Default</p>
</div>

<div [ngSwitch]="stringa">
  <!-- Se lasciamo solo le normali virgolette ci darà errore, dobbiamo
  inserire delle virgolette aggiuntive -->
  <p *ngSwitchCase="'Pippo'">Pippo</p>
  <p *ngSwitchCase="'Pluto'">Pluto</p>
  <p *ngSwitchCase="'Topolino'">Topolino</p>
  <p *ngSwitchCase="'Paperino'">Paperina</p>
  <p *ngSwitchDefault>Default</p>
</div>

<ul>
  <li class="ngStyleEs" *ngFor="let persona of persone">
    <!-- Facciamo il property binding inserendo la nostra direttiva [ngStyle],
    possiamo decidere se cambiare lo stile usando la dicitura ad esempio
    marginBottom oppure usare la dicitura css inserendo le virgolette 'margin-bottom' -->
    <div
      class="cerchio"
      [ngStyle]="{ 'background-color': persona.isOnline ? color : 'red' }"
    ></div>
    <p>{{ persona.nome }} {{ persona.cognome }}</p>
  </li>
</ul>

<ul [ngStyle]="{ 'margin-top': '50px' }">
  <li class="ngStyleEs" *ngFor="let persona of persone">
    <div
      class="cerchio"
      [ngStyle]="{ 'background-color': persona.color }"
    ></div>
    <p>{{ persona.nome }} {{ persona.cognome }}</p>
  </li>
</ul>

<ul [ngStyle]="{ 'margin-top': '50px' }">
  <li class="ngStyleEs" *ngFor="let persona of persone; index as i">
    <!-- In ngClass possiamo aggiungere anche più classi manualmente,
    ad esempio [ngClass]="'cerchioOffline cerchioOnline'", c'è la
    possibilità di inserirle anche in un array, ma a noi non interessa,
    ci interessa la parte condizionale -->
    <div
      class="cerchio"
      [ngClass]="{
        'cerchioOnline secondaClasse': persona.isOnline,
        cerchioOffline: !persona.isOnline
      }"
    >
      {{ i }}
    </div>
    <p>{{ persona.nome }} {{ persona.cognome }}</p>
  </li>
</ul>

<!-- #inputSaluti è una variabile di template -->
<input #inputSaluti value="ciao" />
<button (click)="onClickView()">Invia</button>

<h2>Scegli il colore dell'evidenziatore</h2>
<div>
  <!-- Se abbiamo 3 bottoni ma facciamo riferimento a un solo
  valore il nome deve essere unico -->
  <input
    type="radio"
    name="coloreEvidenziatore"
    (click)="cambiaColoreEvidenziatore('red')"
  />Rosso
  <input
    type="radio"
    name="coloreEvidenziatore"
    (click)="cambiaColoreEvidenziatore('pink')"
  />Rosa
  <input
    type="radio"
    name="coloreEvidenziatore"
    (click)="cambiaColoreEvidenziatore('purple')"
  />Viola
</div>

<!-- Inseriamo il selettore della
direttiva di highlight.directive.ts -->
<!-- Facciamo il property binding e gli assegniamo una variabile -->
<!-- La variabile colore è quella che creiamo in questa fase in
app.component -->
<!-- A questo punto il selettore ci darà errore, questo perché
al decoratore @Input avevamo assegnato coloreHighlight come
proprietà, invece andava usato lo stesso nome del selettore, ovvero
appHighlight, perché il selettore è esso stesso anche una proprietà -->
<p [appHighlight]="colore" defaultColor="blue">Paragrafo creazione direttiva</p>


<!-- Usiamo la string interpolation, la stanghett è una pipe e vuol dire
che adesso possiamo inserire delle funzioni pipe, alcune non necessitano
di parametri che possiamo aggiungere, ad esempio "uppercase" -->
<p>Ciao benvenuti al {{ title | uppercase }}</p>

<!--Andiamo a prendere la proprietà "oggi" che contiene Date.Now(), riporterà
un valore che indica quanti secondi sono passati dal 1970, il che è illegibile,
per formattare questo valore invece di creare una funzione apposita in .ts usiamo
la pipe -->
<!-- In questo modo mostra mese, giorno e anno -->
<p>{{ oggi | date }}</p>
<!-- In questo modo avremo anche l'orario -->
<p>{{ oggi | date:"medium" }}</p>
<!-- In questo modo avremo solo l'ora -->
<p>{{ oggi | date:"shortTime" }}</p>
<!-- Possiamo anche formattarlo direttamente con minuti e secondi -->
<p>{{ oggi | date:"mm:ss" }}</p>
<!-- Proviamo ad aggiungere anche le ore alla precedente pipe -->
<p>{{ oggi | date:"h:mm:ss" }}</p>
<!-- Una versione completa ed utile può essere la seguente,
impostando MMM appare il mese testuale -->
<p>{{ oggi | date:"dd/mm/yyyy - h:mm:ss" }}</p>

<!-- Vediamo la decimalpipe, gli stiamo dicendo di riportare minimo due
numeri interi e dopo la virgola, di riportare minimo 2 decimali e massimo
4 decimali -->
<p>{{ numeroPipeLesson | number: '2.2-4' }}</p>

<!-- Per la percentuale funziona allo stesso modo -->
<p>{{ numeroPipeLesson | percent: '2.2-4' }}</p>

<!-- La currencypipe senza aggiungere niente di default ci
riporterà il numero espresso in dollari -->
<p>{{ numeroPipeLesson | currency }}</p>

<!-- Se vogliamo gli euro dobbiamo fare un'aggiunta -->
<p>{{ numeroPipeLesson | currency: "EUR" }}</p>

<!-- Se invece vogliamo la scritta "EUR" bisogna fare così -->
<p>{{ numeroPipeLesson | currency: "EUR":"code" }}</p>

<!-- Possiamo specificare l'uso del symbol e specificare anche qui
quanti numeri e quanti decimali riportare -->
<p>{{ numeroPipeLesson | currency: "EUR":"symbol":"2.1-5" }}</p>
