.cerchioVerde {
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: green;
  border-radius: 20px;
}

.cerchioRosso {
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 20px;
}

.cerchioArancione {
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: orange;
  border-radius: 20px;
}

li.ngStyleEs {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  p {
    margin-bottom: 0;
  }
  .cerchio {
    margin-right: 10px;
    display: inline-block;
    height: 30px;
    width: 30px;
    background-color: rgb(0, 4, 255);
    border-radius: 20px;
    text-align: center;
  }

  .cerchioOnline {
    background-color: green;
    color: white;
  }

  .cerchioOffline {
    background-color: red;
    color: blue;
  }

  .secondaClasse {
    border-radius: 0;
  }
}
